<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eightjo.modong" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_sign_in"
            android:label="@string/title_activity_activity_sign_in" >
        </activity>
        <activity
            android:name=".tab_main"
            android:label="@string/title_activity_tab_main" >
        </activity>
        <activity
            android:name=".tab_cardViewer"
            android:label="@string/title_activity_tab_card_viewer" >
        </activity>
        <activity
            android:name=".tab_useList"
            android:label="@string/title_activity_tab_buy_list" >
        </activity>
        <activity
            android:name=".tab_donationList"
            android:label="@string/title_activity_tab_donation_list" >
        </activity>
        <activity
            android:name=".tab_setting"
            android:label="@string/title_activity_tab_setting" >
        </activity>
        <activity
            android:name=".Tab_Main2"
            android:label="@string/title_activity_tab__main2" >
        </activity>
        <activity
            android:name=".LoginPage"
            android:label="LoginPage" >
        </activity>
        <activity
            android:name=".activity_lock"
            android:label="@string/title_activity_activity_lock" >
        </activity>
        <activity
            android:name=".activity_Info_modify"
            android:label="@string/title_activity_activity__info_modify" >
        </activity>
        <activity
            android:name=".activity_givePoint"
            android:label="@string/title_activity_activity_give_point" >
        </activity>
        <activity
            android:name=".activity_donate"
            android:label="@string/title_activity_activity_donate" >
        </activity>
    </application>

</manifest>
